/* full width map and body */
html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

/* heading with less */
h4{
	margin: 0;
    padding: 10px 0 5px;
    font-family: arial;
    font-size: 12px;
}

/* travel map route info dev*/
.tm-route{

}

.tm-route.enable{
	display: visible;
}

.tm-route.disable{
	display: none;
}

.location-info{font-family: Roboto,Arial,sans-serif; line-height: 1.42857143;display: inline-block;font-size: 13px;font-weight: 500;-webkit-box-shadow:0 0 6px rgba(0,0,0,0.298039);-moz-box-shadow:0 0 6px rgba(0,0,0,0.298039);box-shadow:0 0 6px rgba(0,0,0,0.298039);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#fff;color:#020d01;}

.tm-route{font-family: Roboto,Arial,sans-serif; line-height: 1.42857143;display: inline-block;font-size: 13px;font-weight: 500;-webkit-box-shadow:0 0 6px rgba(0,0,0,0.298039);-moz-box-shadow:0 0 6px rgba(0,0,0,0.298039);box-shadow:0 0 6px rgba(0,0,0,0.298039);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#fff;color:#666;padding: 15px 27px;}
.tm-route label{font-weight:500}
.tm-route label:not(:first-child){margin-left:10px}
.tm-route p{margin-top:7px;color:#b3b3b3}
